body {
  margin: 0;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.buttons button {
  padding: 20px;
  background: #ccc;
  border: none;
  font-size: 20px;
}

.selected {
  background: blue !important;
}

.wrong {
  background: red !important;
}
h1 {
  color: #fff;
  grid-column: 1/4;
  text-transform: uppercase;
  font-size: 25px;
}
